* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.stick {
    position: fixed;
    z-index: 1000;
    background-color: #3ee8d0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12vh;
    /* border: 0.5px solid black; */
    box-sizing: border-box;
    cursor: pointer;

}

.namelogo {
    height: 46px;
    width: 244px;
    /* border: 2px solid black; */
    margin-left: 17px;
    text-align: center;
}

.name {
    font-weight: 900px;
    position: relative;
    top: 10px;
    left: 5px;
    color: rgb(126 34 206);
    font-size: 24px;
    font-weight: 900;
}

.navigations {
    height: 42px;
    width: 38vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    position: relative;
    left: 84vh;


}

.fa-moon {
    font-size: 2em;
}

.underline:hover {
    color: purple;
    /* Change text color on hover */
    text-decoration: underline;
    background-color: rgb(121, 181, 234);
    /* Add underline on hover */
    tab-size: 900;
}

.navigation2 {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100%;
    border: 0.5px solid black;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 18px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.home-logo {
    position: relative;
    left: 20px;
}

.navs {
    height: 4vh;
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 524px;
    font-weight: 900;
    color: rgb(126 34 206);
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
}



/* main started here */
.main {
    position: relative;
    top: 16vh;
    width: 100vw;
    min-height: 50vh;
}

h1 {
    margin-left: 3vw;
    margin-top: 5vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50vh;
    width: 50%;
    margin-top: 5vh;
    margin-left: 3vw;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 20px;
}

.readmore-btn {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.article {
    margin-bottom: 5vh;
}

.blogbody {
    margin-left: 9vw;
    margin-right: 21vh;
    margin-top: 29vh;
    padding: 9vh;
    background-color: antiquewhite;
    border-radius: 15px;
}